input {
	border-radius: 4px;
	border: 1px solid #CED4DA;
	width: 100%;
	margin-bottom: 40px 0;
	padding: 6px 12px;
	font-family: 'Montserrat';
	color: #CED4DA;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}